body {
  font-size: 15pt;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 100%;
  background: grey;
  transition: all 360ms ease;
}

#map {
  top: 0; 
  bottom: 0; 
  width: 100%;
}

#dbg {
  font-size: 8px;
  letter-spacing: 2;
}